{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Zarahome Online Shop">
    <meta name="keywords" content="zara, fashion, style, buy, modern">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block page_title %}
        {% endblock %} | ZARAHOME
    </title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    {% block extra_css %}
    {% endblock %}

</head>
<body class="d-flex flex-column min-vh-100">
{% include 'layouts/navbar.html' %}

<div class="{% block page-wrapper %}{% endblock %}">

    <div id="customOffCanvas"
         class="content position-absolute mh-100 overflow-y-scroll overflow-x-hidden d-md-none z-2 pb-4 has-side-links has-search-input">
        <div class="row border-bottom mx-0 w-100 overflow-x-hidden">
            <ul class="d-flex row justify-content-around pe-0 w-100 list-unstyled align-items-center mb-0">
                <li class="col-4 d-flex justify-content-center px-4 py-3 "><a href="#"><img
                        src="{% static 'main/img/navbar/profile-icon.svg' %}" alt=""></a></li>
                <li class="col-4 d-flex justify-content-center px-4 py-3 border-start"><a href="#"><img
                        src="{% static 'main/img/navbar/like-icon.svg' %}" alt=""></a></li>
                <li class="col-4 d-flex justify-content-center ps-4 pe-3 pe-md-0 py-3 border-start">
                    <a class="d-flex align-items-center">
                        <img src="{% static 'main/img/navbar/cart-icon.svg' %}" alt="">
                        <span class="ms-2  text-nowrap">12 440</span>
                        <span class="ms-1">₽</span>
                    </a>
                </li>
            </ul>

        </div>
        <div class="row search-wrapper">
            <div class="col-12">
                <form action="" method="get">
                    <div class="position-relative">
                        <button type="submit" class="position-absolute z-1">
                            <img src="{% static 'main/img/all-products/Search_light.svg' %}" alt="">
                        </button>
                        <input name="search" class="w-100 py-4 border-bottom h-100 bg-transparent"
                               type="text"
                               placeholder="Что хотите найти?">
                    </div>
                </form>
            </div>
        </div>
        <div class="side-links px-4 pb-5 px-sm-5">
            <div class="row sidebar-header mt-5">
                <div class="col-6 col-sm-5 pe-0"><p>Каталог товаров</p></div>
                <div class="col-6 col-sm-7 ps-0">
                    <hr style="margin-top: 13px">
                </div>
            </div>
            <div class="col-12">
                <h2>Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <h2>Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <h2>Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <h2 class="mt-3">Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <h2 class="mt-3">Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <h2 class="mt-3">Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <h2 class="mt-3">Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <h2 class="mt-3">Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <h2 class="mt-3">Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <h2 class="mt-3">Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <h2 class="mt-3">Спальня</h2>
                <div class="accordion-content-box ms-3 position-relative">
                    <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                    <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>
                    <ul class="accordion-content list-unstyled">
                        <li><a href="">Смотреть все</a></li>
                        <li><a href="">Основное постельное белье</a></li>
                        <li><a href="">Пододеяльники</a></li>
                        <li><a href="">Наволочки</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    {% block content %}
    {% endblock %}
</div>

{% include 'layouts/footer.html' %}

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
{% block extra_js %}

{% endblock %}
</body>
</html>