@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&family=Ysabeau+SC:wght@300;400;500;600;700&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ysabeau SC', sans-serif;

*/

/*----------------custom defaults------------------*/
:root {
    --black: #000;
    --light-black: rgba(0, 0, 0, 0.3);
    --mid-black: rgba(0, 0, 0, 0.5);
    --red: #905858;
    --yellow: #CE9E66;
    --green: #66A74F;
    --inter-font: 'Inter', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --main-font: 'Ysabeau SC', sans-serif;
}


html {
    scroll-behavior: smooth;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}


/*------------------navbar style-----------------*/
nav .nav-contacts span:first-child {
    color: var(--black);
    font-family: var(--inter-font);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

nav .nav-contacts span:last-child {
    color: var(--mid-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9;
}

nav button {
    background-color: transparent;
    border: none;
}

nav ul > li {
    border-left: solid 1px rgba(0, 0, 0, 0.10);
}


nav ul > li:last-child > a > span:first-of-type,
#customOffCanvas ul > li:last-child > a > span:first-of-type {
    color: var(--black);
    font-family: var(--roboto-font);
    font-size: 18px;
    font-weight: 500;
}

nav ul > li:last-child > a > span:last-of-type,
#customOffCanvas ul > li:last-child > a > span:last-of-type {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 0;
}

/*----------------second navbar---------------*/
.small-nav-bar {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
    color: #000;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
}


/*------------------cart style navbar-------------*/
#cart-focus {
    padding: 20px;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: 250ms ease all;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;

}

#cart-focus .cart-item {
    border: none;
}

#cart-focus .cart-item h4 {
    margin-bottom: 0;
    color: var(--black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}


#cart-focus .cart-item h6 {
    margin-bottom: 0;
    color: var(--mid-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#cart-focus .cart-item p {
    margin-bottom: 0;
    color: var(--black);
    font-family: var(--roboto-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
}


#navCart:hover #cart-focus {
    visibility: visible;
    opacity: 1;
}

#cart-focus li:first-child {
    width: 20px;
    z-index: 3;
    left: 90%;
    top: -20px;
    border: 10px solid var(--green);
    border-bottom: 10px solid #fff;
    /*filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));*/
}

#cart-focus .cart-button {
    text-align: center;
    display: flex;
    justify-content: center;
    background: #000;
}

#cart-focus .cart-button a {
    text-align: center;
    background: #000;
    color: #FFF !important;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 300% */
}

#navCart .cartItemCounter,
#navCart .cartItemCounter2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: -10px;
    left: -10px;
    background-color: #fff;
    color: #000;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid #000
}

#navCart .cartItemCounter2 {
    top: -22px;
    left: -17px;
    background-color: transparent;
    border-radius: 0;
    border: none;
    font-size: 18px;
    color: var(--green);

}


#navCart .cartItemCounter span {
    margin-bottom: 5px;
}

.small-nav-bar a:hover {
    text-decoration: underline !important;
}


/*---------------------FOOTER--------------------*/
footer h6 {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 300% */
}

footer ul > li > a {
    color: var(--mid-black) !important;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

footer p {
    color: var(--mid-black);
    text-align: center;
    font-family: var(--main-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer span {
    color: var(--black);
    text-align: center;
    font-size: 12px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/*----------------width<768 'sidebar'-------------------*/
#customOffCanvas {
    background-color: #fff;
    transition: 250ms ease all;
    width: 0;
    display: none;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}

#customOffCanvas .accordion-content {
    height: 0px;
    background-color: #fff;
    box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.07);
}


/*-------------common sidebar|search style-------------*/

.has-side-links .sidebar-header {
    color: var(--light-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.has-search-input .search-wrapper input {
    color: #000;
    font-family: var(--main-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
    text-align: center;
    outline: none;
}

.has-search-input .search-wrapper input:hover,
.has-search-input .search-wrapper input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
    outline: none;
}


.has-search-input .search-wrapper input::placeholder {
    color: rgba(0, 0, 0, 0.20);
    font-family: var(--main-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.has-search-input .search-wrapper button {
    background-color: transparent;
    border: none;
    top: 25px;
}


.has-side-links .side-links h2 {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.has-side-links .side-links .label {
    margin-left: 20px;
    margin-bottom: 0;
    color: var(--black);
    font-family: var(--main-font) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.has-side-links .side-links ul {
    height: 0;
    overflow: hidden;
    /*overflow-y: auto;*/
    border-left: 1px solid #000;
    padding-left: 20px;
    margin-left: 5px;
    transition: 250ms height ease;
}


.has-side-links .side-links .accordion-content-box a {
    color: var(--mid-black) !important;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 233.333% */
}


.has-side-links .side-links .accordion-content-box a:hover {
    text-decoration: underline !important;
}

.has-side-links .side-links .accordion-content-box:hover {
    cursor: pointer;
}

.has-side-links .side-links .accordion-content-box img {
    position: absolute;
    top: -5px;
    left: -10px;
    transition: 250ms ease;
}

.has-side-links .side-links .accordion-content-box.active img {
    rotate: 90deg;
}


/*-------------breadcrumb style-----------------*/
.custom-breadcrumb {
    color: rgba(0, 0, 0, 0.30);
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.custom-breadcrumb a {
    color: rgba(0, 0, 0, 0.30) !important;
}


/*---------------catalogue page----------------*/
.catalogue-detail-page .filters {
    color: #000;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.catalogue-detail-page .filters span:hover {
    cursor: pointer !important;
}

.catalogue-detail-page .catalogue-title {
    color: #000;
    font-family: var(--main-font);
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px; /* 90.476% */
}


/*----------------home page----------------*/
.home-page main {
    height: 430px;
}

.home-page main .main-content {
    width: min(100%, 680px);
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 40%);
}

.home-page main .main-content h1 {
    color: #000;
    font-family: var(--main-font);
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-page main .main-content p {
    color: #000;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-page main .main-content button {
    background-color: var(--black);
    border: none;
    color: #FFF;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    transition: 400ms ease;
}

.home-page main .main-content button:hover {
    background-color: rgba(0, 0, 0, 0.75)
}


.home-page .new-items {
    margin-top: 100px;
}

/*----------------- homepage x catalogue-detail grid style----------------*/
.home-page .new-items .item,
.catalogue-detail-page .new-items .item {
    transition: 250ms ease;
    border: none;
}

.home-page .new-items .item:hover,
.catalogue-detail-page .new-items .item:hover {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);

    h4 {
        text-decoration-line: underline;
    }
}

.home-page .new-items .item .item-img,
.catalogue-detail-page .new-items .item .item-img {
    border: none !important;
    aspect-ratio: 1 / 1;
}


/*-------------color pick style all pages--------------*/
.home-page .new-items .btn-group label,
.product-detail-page .new-items .btn-group label,
.catalogue-detail-page .new-items .btn-group label {
    width: 8px !important;
    height: 23px !important;
    border: none !important;
    border-radius: 50% !important;
}

.home-page .new-items .btn-group input:checked + label,
.product-detail-page .new-items .btn-group input:checked + label,
.catalogue-detail-page .new-items .btn-group input:checked + label {
    outline: white solid 4px !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 4px;
}


.home-page .new-items button,
.catalogue-detail-page .new-items button {
    color: #FFF;
    font-family: var(--main-font);
    background: var(--black) !important;
    border: none !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    transition: 400ms ease;
    line-height: normal;
    white-space: nowrap;
    max-height: 60px;
}


.home-page .new-items button:hover,
.catalogue-detail-page .new-items button:hover,
.product-detail-page button.add-to-cart:hover,
.cart-detail-page .total-cost a:hover{
    background-color: rgba(0, 0, 0, 0.75) !important;
}


.home-page .new-items h4,
.catalogue-detail-page .new-items h4 {
    text-transform: uppercase;
    color: var(--black);
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}

.home-page .new-items h5,
.catalogue-detail-page .new-items h5 {
    color: var(--mid-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.home-page .catalogue .content {
    width: 70%;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 35%);
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.07));
}

.home-page .catalogue .content h3 {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-page .catalogue .content p {
    color: var(--black);
    text-align: center;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-page .catalogue h1 {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px; /* 90.476% */
}


.home-page .why-us {
    margin-top: 150px;
}

.home-page .why-us h1,
.home-page .add-links h1 {
    color: var(--black);
    text-align: right;
    font-family: var(--main-font);
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px; /* 90.476% */
}

.home-page .why-us h6,
.home-page .add-links h6 {
    color: var(--mid-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.home-page .why-us p {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-page .why-us h2 {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 100% */
}

.home-page .why-us .content > img:first-of-type {
    left: -37%;
    top: -120px;
    z-index: -1;
}

.home-page .why-us .content > img:last-of-type {
    right: -11%;
    top: 70px;
    z-index: -1;
}

.home-page .why-us .content {
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
    width: min(850px, 100%);
}


.home-page .why-us .text {
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
}

.home-page .why-us .text .statistics h1 {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 94px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.home-page .why-us .text .statistics h4 {
    color: var(--mid-black);
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.home-page .why-us .text .rating {
    display: inline-block;
}

.home-page .why-us .text .rating input {
    display: none;
}

.home-page .why-us .text .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.home-page .why-us .text .rating label:before {
    content: '\2605';
    font-size: 40px;
}

.home-page .why-us .text .rating input:checked ~ label,
.home-page .why-us .text .rating label:hover,
.home-page .why-us .text .rating label:hover ~ label {
    color: var(--yellow);
    transition: color 0.3s;
}

.home-page .why-us .text > .row:first-child > div:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.home-page .common-questions h1 {
    color: #000;
    font-family: var(--main-font);
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px; /* 90.476% */
}

.home-page .common-questions p {
    color: var(--mid-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.home-page .accordion .accordion-content-box {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
    transition: 250ms ease;
    margin-bottom: 20px;
}

.home-page .accordion .accordion-content-box.active {
    background: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}

.home-page .accordion .accordion-content-box img {
    transition: 250ms ease;
    left: -10px;
    top: -10px;
}


.home-page .accordion .accordion-content-box.active img {
    transform: rotate(90deg);
}

.home-page .accordion .accordion-content-box .label {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transform: translate(-0, 0);
    transition: 250ms ease;
}

.home-page .accordion .accordion-content-box.active .label {
    transform: translate(0, 0);

}

.home-page .accordion .accordion-content-box .accordion-content {
    color: var(--mid-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 0;
    transition: 250ms ease;
    overflow: hidden;
    overflow-y: auto;
}

.home-page .accordion .accordion-content-box:hover {
    cursor: pointer !important;

}

/*.home-page .accordion .accordion-content-box.active .accordion-content {*/
/*height: 150px;*/
/*}*/


.home-page .add-links .row > a {
    transition: 250ms ease;
}

.home-page .add-links .row > a > img:first-of-type {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: 250ms ease;
}


.home-page .add-links .row > a:hover {
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
}

.home-page .add-links .row > a:hover img:first-of-type {
    opacity: 1;
}

.home-page .add-links h4 {
    margin-bottom: 0;
    color: var(--black);
    text-align: center;
    font-family: var(--main-font);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 114.286% */
}

.home-page .add-links p {
    color: var(--mid-black);
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/*-------------all products page--------------*/

.all-products-page .search-results {
    margin-inline: min(200px, 8vw);
}

.all-products-page .search-results h3 {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.all-products-page .search-results p {
    color: rgba(0, 0, 0, 0.50);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.all-products-page .search-results > a {
    transition: 250ms ease;
}

.all-products-page .search-results > a:hover {
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
}


/*-----------------product detail ---------------*/
.product-detail-page .item-title {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px; /* 90.476% */
}

.product-detail-page .sub-catalogue {
    color: var(--mid-black);
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-detail-page .product-options {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 112.5% */
}

.product-detail-page .add-to-cart {
    background-color: var(--black);
    border: none;
    color: #FFF;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 300% */
}


.product-detail-page button.add-to-cart {
    transition: 250ms ease;
}

/*----------------cart detail----------------*/

.cart-detail-page h1 {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px; /* 90.476% */
}

.cart-detail-page h4 {
    margin-bottom: 0;
    color: var(--black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.cart-detail-page p {
    color: var(--mid-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.cart-detail-page .item-price {
    color: var(--black);
    font-family: var(--roboto-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px; /* 270% */
}

.cart-detail-page .total-cost {
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
}


.cart-detail-page .total-cost span {
    background: #FFF;
    color: var(--light-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.cart-detail-page .total-cost h1 {
    color: var(--black);
    font-family: var(--roboto-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px; /* 168.75% */
}

.cart-detail-page .total-cost h4 {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cart-detail-page .total-cost a {
    color: #FFF !important;
    text-align: center;
    font-family: var(--main-font);
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 300% */
    background: var(--black);
    width: min(340px, 100%);
    transition: 250ms ease;
}


/*---------------media queries---------------*/
@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

    .home-page .why-us .content > img:first-of-type {
        height: 200px;
        width: 400px;
        left: -30%;
        top: -120px;
        z-index: -1;
    }

    .home-page .why-us .content > img:last-of-type {
        width: 130px;
        height: 120px;
        right: -7%;
        top: -45px;
        z-index: -1;
    }
}

@media (max-width: 768px) {

    nav {
        position: relative;
        z-index: 3;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    }


    nav .nav-site-logo {
        width: 114px;
        height: 15px;
    }

    .home-page main {
        height: 320px;
    }


    .home-page main .main-content {
        transform: translate(-50%, 50%);
    }

    .new-items .col {
        width: 257px;
        height: 257px;
    }

    .home-page .new-items .btn-group label,
    .catalogue-detail-page .new-items .btn-group label,
    .product-detail-page .new-items .btn-group label {
        padding-inline: 10px;
        height: 20px !important;


    }

    .home-page .new-items {
        margin-top: 110px;
    }


    .home-page .why-us {
        margin-top: 100px;
    }

    .home-page .why-us h2 {
        font-size: 24px;
    }

    .home-page .why-us .content > img:first-of-type {
        height: 200px;
        width: 400px;
        left: -40%;
        top: -120px;
        z-index: -1;
    }

    .home-page .why-us .content > img:last-of-type {
        width: 130px;
        height: 120px;
        right: -8%;
        top: -70px;
        z-index: -1;
    }


    .cart-detail-page .close-item {
        position: absolute;
        top: 10px;
        right: 0px;
    }

}


@media (max-width: 576px) {
    #navCart:hover #cart-focus {
        visibility: hidden;
        opacity: 1;
    }

    .home-page main {
        height: 200px;
    }


    .home-page main .main-content {
        transform: translate(-50%, 100%);
    }


    .home-page main .main-content h1 {
        font-size: 34px;
    }

    .new-items .col {
        width: 211px;
        height: 211px;
    }

    .home-page .new-items .btn-group label,
    .catalogue-detail-page .new-items .btn-group label,
    .product-detail-page .new-items .btn-group label {
        padding-inline: 8px;
        height: 17px !important;
        /*height: 20px !important;*/
    }


    .home-page .new-items {
        margin-top: 200px;
    }


    .home-page .why-us .text > .row:first-child > div:first-child {
        border-right: none !important;
    }


}


@media  (max-width: 370px) {
.cart-detail-page img.ratio-1x1{
    display: none;
}
}
