{% extends 'layouts/base.html' %}
{% load static %}
{% load shop_custom_filters %}
{% block page_title %}
    Все товары
{% endblock %}


{% block extra_css %}
    <style>
        span.highlight {
            background-color: var(--yellow);
        }
    </style>
{% endblock %}

{% block page-wrapper %}
    all-products-page has-side-links has-search-input
{% endblock %}

{% block content %}
    {#    <div class="all-products-page">#}
    <div class="row d-none d-md-flex search-wrapper mx-5">
        <div class="col-12">
            <form hx-get="{% url 'shop:search-product' %}"
                  hx-target="#search-results">
                <div class="position-relative">
                    <button type="submit" class="position-absolute z-1">
                        <img src="{% static 'main/img/all-products/Search_light.svg' %}" alt="">
                    </button>
                    <input name="search" class="w-100 py-4 border-bottom h-100 bg-transparent"
                           type="text"
                           placeholder="Что хотите найти?"
                           hx-get="{% url 'shop:search-product' %}"
                           hx-target="#search-results"
                           hx-trigger="keyup changed">

                </div>
            </form>
        </div>
    </div>

    <div id="search-results" class="search-results row row-gap-4 my-4 my-md-5">
        {% block search-results %}

            {% for product in products %}

                <a href="" class="col-12 col-md-6 col-lg-4">
                    <div class="row w-100">
                        <div class="col-5 px-0"
                             style="
                                     background-image:
                                     {% if product.image %}
                                         url('{{ product.image.url }}');
                                     {% else %}
                                         url('https://burst.shopifycdn.com/photos/wrist-watches.jpg?width=1000&format=pjpg&exif=0&iptc=0');
                                     {% endif %}

                                     background-repeat: no-repeat;
                                     background-size: cover;
                                     background-position: center;
                                     aspect-ratio: 1 / 1">
                        </div>

                        <div class="col">
                            <div class="content">
                                {% if search is not None %}
                                    <h3 class="search-result">{{ product.name|highlight_search:search }}</h3>
                                    <p>{{ product.class_of_product.name|highlight_search:search }}</p>
                                {% else %}
                                    <h3 class="search-result">{{ product.name }}</h3>
                                    <p>{{ product.class_of_product.name }}</p>
                                {% endif %}
                                <h4>{{ product.real_price }} ₽</h4>
                            </div>
                        </div>

                    </div>
                </a>
            {% empty %}
                <h1>Product by name '{{ search }}' is not found</h1>
            {% endfor %}

        {% endblock %}


    </div>

    <div class="row d-none d-md-flex catalogues row-gap-2 side-links my-5 mx-5">
    {% for category in categories %}

        <div class="col-4 col-lg-3 ps-4 border-end">
            <h2 class=""><a href="{% url 'shop:catalogue-detail' category.slug %}">{{ category.name }}</a></h2>
            {% for type in category.types.all %}

            <div class="accordion-content-box ms-3 position-relative active">
                <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">
                <h4 class="label text-uppercase">{{ type.name }}</h4>
                <ul class="accordion-content list-unstyled">
                    <li><a href="">Смотреть все</a></li>
                    <li><a href="">Основное постельное белье</a></li>
                    <li><a href="">Пододеяльники</a></li>
                    <li><a href="">Наволочки</a></li>
                </ul>
            </div>

            {% endfor %}

{#            <h2 class="mt-5">Спальня</h2>#}
{#            <div class="accordion-content-box position-relative">#}
{#                <img src="{% static 'main/img/all-products/accordion-arrow.svg' %}" alt="">#}
{#                <h4 class="label">ПОСТЕЛЬНОЕ БЕЛЬЕ</h4>#}
{#                <ul class="accordion-content list-unstyled">#}
{#                    <li><a href="">Смотреть все</a></li>#}
{#                    <li><a href="">Основное постельное белье</a></li>#}
{#                    <li><a href="">Пододеяльники</a></li>#}
{#                    <li><a href="">Наволочки</a></li>#}
{#                </ul>#}
{#            </div>#}
        </div>

    {% endfor %}

    </div>
    {#    </div>#}
{% endblock %}


{% block extra_js %}
    <script>
    </script>
{% endblock %}