{% extends 'layouts/base.html' %}
{% load static %}

{% block page_title %}
    Корзина
{% endblock %}

{% block extra_css %}
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            width: 50px;
            -moz-appearance: textfield;
        }

        input[type=number]:focus {
            outline: none;
        }
    </style>
{% endblock %}

{% block page-wrapper %}
    cart-detail-page mb-5
{% endblock %}

{% block content %}
    <div class="row mt-5 mx-2 mx-sm-3 mx-md-5">
        <p class="custom-breadcrumb d-flex gap-2">
            <a href="{% url 'shop:home' %}">
                <img src="{% static 'main/img/catalogue-detail-page/Home_light.svg' %}" style="position: relative;
                 top: -1.5px" alt="">
            </a> >
            <a href="" style="color: #000 !important;"
               class="text-decoration-underline">
                Корзина
            </a>
        </p>
        <h1>В вашей корзине </h1>
    </div>
    <div id="cart-detail" class="row mt-4 mx-2 mx-sm-3 mx-md-5">

        {% block cart-update %}
            <div class="col-12 col-lg-8">

                {% for product, color, quantity, size in my_cart %}

                    <div class="py-3 border-bottom d-flex align-items-end align-items-md-center gap-3 position-relative">
                        <div class="d-flex gap-2 align-items-center me-auto ">
                            {% for variation in product.variations.all %}
                                {% if variation.code|slugify == color|slugify %}

                                    <img style="aspect-ratio: 1 / 1;" class="object-fit-cover" width="80px"
                                         alt="" src="
                                    {% if  variation.image %}
                                        {{ variation.image.url }}
                                    {% else %}
                                        {{ product.image.url }}
                                    {% endif %}">
                                {% endif %}
                            {% empty %}
                                <img style="aspect-ratio: 1 / 1;" class="object-fit-cover" width="80px"
                                     alt="" src="{{ product.image.url }}">
                            {% endfor %}


                            <div class="">
                                <h4 class="">
                                    <a href="{% url 'shop:product-detail' product.class_of_product.slug product.slug %}">{{ product.name }}</a>
                                </h4>
                                <p class="mb-0">{{ product.class_of_product.name }}</p>

                                <div class="d-flex d-md-none">
                                    <img id="minusItem{{ product.id }}"
                                         src="{% static 'main/img/cart-page/minus-item-count.svg' %}" alt=""
                                         hx-post="
                                         {% if color %}
                                        {% url 'cart:minus_quantity' product.id color %}
                                        {% else %}
                                        {% url 'cart:minus_quantity' product.id None %}

                                         {% endif %}

"
                                         hx-target='#cart-detail'
                                         hx-trigger='click'>
                                    <div class="d-flex align-items-center">
                                        {#                                <form action="">#}
                                        {#                                    {{ form.quantity }}#}
                                        {#                                    {{ form.override }}#}
                                        {#                                </form>#}
                                        <input id="inputValue{{ product.id }}" style="
                                                border: 1px solid rgba(0, 0, 0, 0.25);
                                                background: #FFF;" type="number"
                                               class="text-center" value="{{ quantity }}"
                                               hx-post="
                                               {% if color %}
                                                {% url 'cart:cart_update' product.id color %}
                                                {% else %}
                                                {% url 'cart:cart_update' product.id None %}

                                               {% endif %}

"
                                               hx-target='#cart-detail'
                                               hx-trigger='keyup changed delay:500ms'
                                               min="1"
                                               name='quantity'>
                                    </div>
                                    <img id="plusItem{{ product.id }}"
                                         hx-post="
                                         {% if color %}
                                        {% url 'cart:plus_quantity' product.id color %}
                                        {% else %}
                                        {% url 'cart:plus_quantity' product.id None %}
                                         {% endif %}

"
                                         hx-target='#cart-detail'
                                         hx-trigger='click'
                                         src="{% static 'main/img/cart-page/plus-item-count.svg' %}" alt="">
                                    <div class="ms-4 item-price">
                                        {#                                        {% if size != 'Default' %}#}
                                        {#                                            {{ size }}#}
                                        {#                                        {% endif %}#}
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="d-md-flex d-none align-items-center">
                            <img id="minusItem{{ product.id }}"
                                 src="{% static 'main/img/cart-page/minus-item-count.svg' %}" alt=""
                                 hx-post="
                                 {% if color %}
                                {% url 'cart:minus_quantity' product.id color %}
                                {% else %}
                                {% url 'cart:minus_quantity' product.id None %}

                                 {% endif %}

"
                                 hx-target='#cart-detail'
                                 hx-trigger='click'>
                            <div class="d-flex align-items-center">
                                <input id="inputValue{{ product.id }}" style="
                                                border: 1px solid rgba(0, 0, 0, 0.25);
                                                background: #FFF;" type="number"
                                       class="text-center" value="{{ quantity }}"
                                       hx-post="
                                       {% if color %}
                                        {% url 'cart:cart_update' product.id color %}
                                        {% else %}
                                        {% url 'cart:cart_update' product.id None %}

                                       {% endif %}

"
                                       hx-target='#cart-detail'
                                       hx-trigger='keyup changed delay:500ms'
                                       min="1"
                                       name='quantity'>
                            </div>
                            <img id="plusItem{{ product.id }}"
                                 hx-post="
                                 {% if color %}
                                {% url 'cart:plus_quantity' product.id color %}
                                {% else %}
                                {% url 'cart:plus_quantity' product.id None %}

                                {% endif %}
                                "
                                 hx-target='#cart-detail'
                                 hx-trigger='click'
                                 src="{% static 'main/img/cart-page/plus-item-count.svg' %}" alt="">
                        </div>
                        <div class="d-flex justify-content-md-end" style="min-width: 120px">
                            <span class="text-nowrap item-price">{{ product.real_price }} ₽</span>
                        </div>

                        <div class="close-item">
                            <img style="rotate: 45deg;" src="{% static 'main/img/cart-page/plus-item-count.svg' %}"
                                 alt=""
                                 hx-post="
                                 {% if color %}
                                {% url 'cart:product_remove' product.id color %}
                                {% else %}
                                {% url 'cart:product_remove' product.id None %}
                                 {% endif %}

"
                                 hx-trigger="click"
                                 hx-confirm="Are you sure you want to delete
                                {{ product.name|truncatechars:'20' }} from your cart?"
                                 hx-target="#cart-detail">

                        </div>
                    </div>

                {% endfor %}

            </div>
            <div class="col-12 col-lg-4">
                <div class="total-cost p-4 mt-5 mt-lg-0  d-flex flex-column align-items-center position-relative">
                    <span style="top: 10px" class="px-3 position-absolute z-1 ">Итого</span>
                    <div class="w-100 opacity-50" style="border-bottom: 1px solid var(--light-black)"></div>
                    <h1 class="mt-4 mb-0">{{ my_cart.get_total_price }} ₽</h1>
                    <h4 class="mb-4">{{ my_cart|length }} товаров</h4>
                    <a class="text-lowercase" href="{% url 'orders:create_order' %}">Перейти к оформлению</a>
                </div>
            </div>
        {% endblock %}
    </div>


{% endblock %}

{% block extra_js %}
    <script>

    </script>
{% endblock %}
