{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% block page_title %}
    Оформить заказ
{% endblock %}

{% block page-wrapper %}
    create-order-page
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4 offset-4 bg-success-subtle p-4">
            <form action="{% url 'orders:create_order' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Order</button>
            </form>
        </div>

    </div>

{% endblock %}